<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SealSuite23.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
  </startup>
  <connectionStrings>
    <!--<add name="SealProcessDBEntities" connectionString="metadata=res://*/Model5_SealProcess.csdl|res://*/Model5_SealProcess.ssdl|res://*/Model5_SealProcess.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC-07\SQLEXPRESS;initial catalog=SealProcessDB1a;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SealProcessDBEntities" connectionString="metadata=res://*/Model5_SealProcess.csdl|res://*/Model5_SealProcess.ssdl|res://*/Model5_SealProcess.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC-07\SQLEXPRESS;initial catalog=SealProcessDB1a;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SealSuiteDBEntities" connectionString="metadata=res://*/Model0_SealSuite.csdl|res://*/Model0_SealSuite.ssdl|res://*/Model0_SealSuite.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC-07\SQLEXPRESS;initial catalog=SealSuiteDB1;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SealProcessDBEntities" connectionString="metadata=res://*/Model5_SealProcess.csdl|res://*/Model5_SealProcess.ssdl|res://*/Model5_SealProcess.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC-07\SQLEXPRESS;initial catalog=SealProcessDB1a;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SealIPEDBEntities" connectionString="metadata=res://*/Model3_SealIPE.csdl|res://*/Model3_SealIPE.ssdl|res://*/Model3_SealIPE.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC-07\SQLEXPRESS;initial catalog=SealIPEDB1;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SealIPEMCSDBEntities" connectionString="metadata=res://*/Model4_SealIPEMCS.csdl|res://*/Model4_SealIPEMCS.ssdl|res://*/Model4_SealIPEMCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC-07\SQLEXPRESS;initial catalog=SealMCSDB1;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SealTestDBEntities" connectionString="metadata=res://*/Model2_SealTest.csdl|res://*/Model2_SealTest.ssdl|res://*/Model2_SealTest.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC-07\SQLEXPRESS;initial catalog=SealTestDB2a;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SealPartDBEntities" connectionString="metadata=res://*/Model1_SealPart.csdl|res://*/Model1_SealPart.ssdl|res://*/Model1_SealPart.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC-07\SQLEXPRESS;initial catalog=SealPartDB2_Trial;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SealSuiteDBEntities" connectionString="metadata=res://*/Model0_SealSuite.csdl|res://*/Model0_SealSuite.ssdl|res://*/Model0_SealSuite.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC-07\SQLEXPRESS;initial catalog=SealSuiteDB1a;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SealPartDBEntities" connectionString="metadata=res://*/Model1_SealPart.csdl|res://*/Model1_SealPart.ssdl|res://*/Model1_SealPart.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC-07\SQLEXPRESS;initial catalog=SealPartDB2_Trial;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SealProcessDBEntities" connectionString="metadata=res://*/Model5_SealProcess.csdl|res://*/Model5_SealProcess.ssdl|res://*/Model5_SealProcess.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC-07\SQLEXPRESS;initial catalog=SealProcessDB1b;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SealSuiteDBEntities" connectionString="metadata=res://*/Model0_SealSuite.csdl|res://*/Model0_SealSuite.ssdl|res://*/Model0_SealSuite.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC-07\SQLEXPRESS;initial catalog=SealSuiteDB1a;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SealTestDBEntities" connectionString="metadata=res://*/Model2_SealTest.csdl|res://*/Model2_SealTest.ssdl|res://*/Model2_SealTest.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC-07\SQLEXPRESS;initial catalog=SealTestDB2a;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SealMCSDBEntities" connectionString="metadata=res://*/Model3_SealMCS.csdl|res://*/Model3_SealMCS.ssdl|res://*/Model3_SealMCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC-07\SQLEXPRESS;initial catalog=SealMCSDB1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SealIPEDBEntities" connectionString="metadata=res://*/Model4_SealIPE.csdl|res://*/Model4_SealIPE.ssdl|res://*/Model4_SealIPE.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC-07\SQLEXPRESS;initial catalog=SealIPEDB1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SealPartDBEntities" connectionString="metadata=res://*/Model6.csdl|res://*/Model6.ssdl|res://*/Model6.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC-07\SQLEXPRESS;initial catalog=SealPartDB2_Trial;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SealMCSDBEntities" connectionString="metadata=res://*/Model2_SealMCS.csdl|res://*/Model2_SealMCS.ssdl|res://*/Model2_SealMCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC-07\SQLEXPRESS;initial catalog=SealMCSDB1;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="SealSuiteDBEntities" connectionString="metadata=res://*/Model0_SealSuite.csdl|res://*/Model0_SealSuite.ssdl|res://*/Model0_SealSuite.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC-07\SQLEXPRESS;initial catalog=SealSuiteDB1a;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SealPartDBEntities" connectionString="metadata=res://*/Model1_SealPart.csdl|res://*/Model1_SealPart.ssdl|res://*/Model1_SealPart.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC-07\SQLEXPRESS;initial catalog=SealPartDB2_Trial;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SealTestDBEntities" connectionString="metadata=res://*/Model3_SealTest.csdl|res://*/Model3_SealTest.ssdl|res://*/Model3_SealTest.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC-07\SQLEXPRESS;initial catalog=SealTestDB2a;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SealIPEDBEntities" connectionString="metadata=res://*/Model4_SealIPE.csdl|res://*/Model4_SealIPE.ssdl|res://*/Model4_SealIPE.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC-07\SQLEXPRESS;initial catalog=SealIPEDB1;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SealProcessDBEntities" connectionString="metadata=res://*/Model5_SealProcess.csdl|res://*/Model5_SealProcess.ssdl|res://*/Model5_SealProcess.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC-07\SQLEXPRESS;initial catalog=SealProcessDB1b;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SealIPEMCSDBEntities" connectionString="metadata=res://*/Model2_SealMCS.csdl|res://*/Model2_SealMCS.ssdl|res://*/Model2_SealMCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC-07\SQLEXPRESS;initial catalog=SealMCSDB1;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <SealSuite23.My.MySettings>
      <setting name="MCS" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="HFree" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Name" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DateCreated" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TimeCreated" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CavityOD" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CavityID" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CavityDepth" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Press" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TOper" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PreCompressed" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PreCompressedH" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RadCon" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Seg" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SegCount" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MatName" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="HT" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Coating" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SFinish" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Plating" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Adjusted" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DT_CSeal" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DThetaE1" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DThetaM1" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ZClear" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DThetaOpening" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DTheta1" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DTheta2" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DRad1" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DRad2" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DLLeg" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SpringBack" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Leakage_BL" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LoadCaseType" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CompressTolType" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DT_USeal" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UnitSeatLoad" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MatModel" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DHFree" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="POrient" serializeAs="String">
        <value>True</value>
      </setting>
    </SealSuite23.My.MySettings>
  </userSettings>
</configuration>